@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.font1 {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FBFBFB !important;
}

.size1 {
    font-size: 44px;
    line-height: 60px;
    font-weight: 600;

}

.size2 {
    font-size: 20px;
    color: #9195A4;
}



.btn {
    background: linear-gradient(225deg, #FFFF00 0%, #FFFF00 100%);
    border-radius: 5px;
    color: black !important;
    font-weight: 700 !important;
}

.void {
    margin-top: 50px !important;
}

.iPhone{
    height: 700px;
    width: auto;
    
}
/* .mob{
    min-height: 80vh;
} */
.imobie{
    
    background-image: url(./img2/bgig.svg);
    background-repeat: no-repeat;
    background-position: top right
    !important;
    background-size: contain;
    
    
}





.none {
    width: 140px;
    height: 140px;
    padding: 35px;
    /* background: linear-gradient(225deg, #FFFF00 0%, #FFFFFF 100%); */
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
    border-radius: 10px
}

.none:hover {
    background: linear-gradient(225deg, #FFFF00 0%, #FFFFFF 100%);
    box-shadow: 0px -20px 40px rgba(0, 0, 0, 0.3),
        0px 20px 40px rgba(0, 0, 0, 0.3);

}

.event {
    min-height: 80vh;


}

section {
    min-height: 100vh;
}

.chatbox {
    background-image: url(./img2/Path\ cj.svg);
    background-repeat: no-repeat;
    /* object-fit: cover; */
    background-position: top;
    /* background-position: left; */
    background-size: cover;
   

}
.sizechat{
 min-height: 120vh;
}



.chating {
    line-height: 25px;
    color: #5B5B5B;
    font-weight: 500;
    
}

.card {
    color: #5B5B5B;
    background: linear-gradient(225deg, #FFFFFF 0%, #FEFE73 100%);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    

}

.card1 {
    background: white !important;
}

.card4 {
    width: fit-content;
}

small {
    color: #AAB2B7;
}

.chartfull {
    margin-top: 33%;
    
}


.chatright {
    
    padding: 20px;
}
.chatcen{
    width: 82%;
}



.wavebar {
    background-image: url(./img2/wave.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative !important;
    min-height: 120vh !important;


}
.hello{
    width: 50px;
    height: 50px;
    background-color: #FFFFFF !important;
    text-align: center;
    padding: 12px;
   margin-top: 120px;
   box-shadow: 0px 10px 20px rgba(255, 255, 0, 0.4);
}
.hello:hover{
    box-shadow: 0px -10px 20px rgba(255, 255, 0, 0.4);
    cursor: pointer;
}
.het{
    min-height: 100vh;
}
.waveht{
    min-height: 130vh;
}
.lrft{
 -webkit-mask-image: url(./img2/Mask.svg);
 -webkit-mask-repeat: no-repeat;
 -webkit-mask-size: cover;
 background: linear-gradient(225deg, #FFFF00 0%, #040B2D 100%);
}
.Graph {
    position: absolute;
    top: 35%;
    right: 0;
}

.rate {
    position: absolute;
    top: 30%;
    left: 20%;
}
.profile1{
    position: absolute;
    left: 55%;
    top: 5%;
}
.profile2{
    position: absolute;
    bottom: 25%;
    left: 17%;
}
.lady{
  border-radius: 80% 0% 0 80% !important;
    
  
}
.profile3{
    position: absolute;
    bottom: 5%;
    right: 0;
    border-radius: 87px 0px 0px 87px;
    overflow: hidden;
}
/* opiniones */
.last{
   /* background-image: url(./img2/opa.svg);
   background-repeat: no-repeat;
   object-fit: cover;
    */
  min-height: 150vh;
   
}
.over{
   object-fit: cover;
}
.moved{
    width: 50px;
    height: 50px;
    background-color: #FFFFFF !important;
    text-align: center;
    padding: 12px;
   margin-top: 15%;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  
}
.moved:hover{
    background: linear-gradient(225deg, #FFFF00 29.69%, #FFFFFF 100%);
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
cursor: pointer;
}

/* footer  */
.footer{
    min-height: 25vh;
}
.wholside2 li{
    list-style: none;
    display: inline;
    
}
.wholside2 li a{
    text-decoration: none;
    color: #9195A4;
}
.wholside2 li a:hover{
    border-bottom: 3px solid black;
    box-shadow: 2px -5px 2px #5B5B5B;
    border-radius: 30px;

}
.btn1 {
    background: linear-gradient(225deg, #000000 0%, #000000 100%);
    border-radius: 5px;
    color: yellow !important;
    font-weight: 700 !important;
}
.head1{
    color: #24355A;
    font-weight: 600 !important;
    font-size: 40px;
    line-height: 45px;
}
.pre{
    color: #24355A !important;
}
.brofi{
    color:#24355A;
font-size: 15px;
font-weight: 900 !important;
}
.detail{
    font-size: 14px;
}

/* media  */
@media (max-width:991px){
    .chatcen{
        width: 80%;
    }
    /* .size1 {
        font-size: 33px;
        line-height: 37px;
        font-weight: 700;
    } */
    
    .third{
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .chatbox{
       min-height: 100vh;
       background-size: auto;
       background-position: top left;
    }
    .het {
        min-height: 80vh;
    }
    .wavebar{
        position: absolute;
        background-size: auto;
        background-position: right top;
    }
    .chatright{
        /* text-align: center; */
        
    }
    .het{
        display: flex;
        justify-content: start;
    }
    .lrft{
        -webkit-mask-size: auto;
        -webkit-mask-position: top left;
    }
    .rund{
        display: flex;

        min-height: 100vh;
    }
   
}
@media (max-width:806px) and (min-width:769px){
    .logosi{
        /* width: 30%; */
    }
    .btn1{
        /* display: none; */
    }
    .logoi{
        width: 30%;
    }
.copy{
    font-size: 12px;
}
}
@media (max-width:754px){
    /* .size1 {
        font-size: 30px;
        line-height: 29px;
        font-weight: 900;
    }
    .size2 {
        font-size: 17px;
        color: #9195A4;
    } */
    .imobie{
        min-height: 70vh;
        background-size: cover;
    }
    .iPhone{
        width: 300px;
    }
    .head1 {
        color: #24355A;
        font-weight: 600 !important;
        font-size: 30px;
        line-height: 35px;
    }
    .size2 {
        font-size: 15px;
        color: #9195A4;
    }
}
@media (max-width:586px){
    
    .imobie{
        min-height: 60vh;
    }
}
@media (max-width:522px){
.chatcen{
    width: 86% !important;
}
}
@media (max-width:486px){
    .chating{
        line-height: 18px;
        color: #5B5B5B;
        font-weight: 700;
        font-size: small;

    }
    
    .hello{
        margin-top: 20%;
    }
    
}
@media (max-width:403px){
    .chating {
        line-height: 18px;
        color: #5B5B5B;
        font-weight: 800;
        font-size: 11px;
    }
    .size1 {
        font-size: 22px;
        line-height: 25px;
        font-weight: 900;
    }
    
    .logosi{
        width: 150px;
    }
    .list-item{
        font-size: smaller;
    }

}
@media (max-width:361px){
    .head1 {
        color: #24355A;
        font-weight: 800 !important;
        font-size: 24px;
        line-height: 29px;
    }
}

@media (max-width:1298px) and (min-width:992px){
    .size1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 600;
}
}